<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sign Up
      </h1>
      <h2 class="subtitle">
        It's so much cooler when you're signed up.
      </h2>
    </div>
  </div>
</section>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <% if !resource.errors.empty? %>
    <article class="message is-danger">
      <div class="message-body">
        <%= devise_error_messages! %>
      </div>
    </article>
  <% end %>

  <div class="field">
    <%= f.label :firstname, :class => 'label' %>
    <div class="control">
      <%= f.text_field :firstname, autofocus: true, :class => "input", placeholder: "John" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :lastname, :class => 'label' %>
    <div class="control">
      <%= f.text_field :lastname, autofocus: true, :class => "input", placeholder: "Doe" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :email, :class => 'label' %>
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "input", placeholder: "john.doe@example.com" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, :class => 'label' %>
    <div class="control">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", :class => "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :class => 'label' %>
    <div class="control">
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <div class="file has-name is-fullwidth">
        <label class="file-label">
          <%= f.file_field :avatar, :class => 'file-input', :id => 'file-input' %>
          <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
            <%= f.label :avatar, :class => 'file-label' %>
      </span>
          <span id="file-name" class="file-name">
          </span>
        </label>
      </div>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit "Sign up", :class => 'button' %>
    </div>
    <div class="control">
      <%= render "devise/shared/links", :class => "button is-text" %>
    </div>
  </div>
<% end %>

